<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<title>Persona</title>
</head>
<body>
	<!-- <h1>Hello <span th:text="${persona.name}"></span> !</h1>
	<h2>your age is: <span th:text="${persona.age}"></span> !</h2>  -->
	 
	<table>
		<thead>
			<tr>
				<th>NAME</th>
				<th>AGE</th>
			</tr>
		</thead>
		<tbody th:each="una : ${persona}">
			<tr>
				<th th:text="${una.name}"></th>
				<th th:text="${una.age}"></th>
			</tr>
		</tbody>
	</table> 
</body>
</html>